* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #222;
	padding-top: 10%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.wrap {
	position: relative;
	display: block;
	margin: 0 auto 20px;
	width: 640px;
}
.canvas {
	display: block;
	margin-bottom: 20px;
	background: #358278;
}
.instructions {
	padding: 0 20px;
	
	font-size: 12px;
	line-height: 1.6;
	text-align: center;
	color: #999;
	
}
.instructions em {
	font-style: normal;
	text-transform: uppercase;
	color: #a13c3d;
}
.screen {
	position: absolute;
	left: 0;
	top: 0;
	width: 640px;
	height: 480px;

	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.screen.hidden {
	opacity: 0;
}
.black {
	background: black;
}
.title {
	cursor: pointer;
	background: 	url(../images/nader.png) 51% 35% no-repeat,
			url(../images/razor.png) 50% 28% no-repeat,
			#8d8673;
	z-index: 2;
}

.title h1,
.title p {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}
.title h1 {
	top: 45%;
	font-size: 32px;
	letter-spacing: 4px;
	color: #a13c3d;
}
.title p {
	top: 80%;
	font-size: 18px;
	color: white;
	font-style: italic;
}

.hud {
	pointer-events: none;
}

.hud > [class^="hud-"] {
	position: absolute;
	width: 100%;
    text-align: center;
}

.hud-undead i {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: green;
	margin: 0 4px;
}

.hud-undead {
	display: none;
	bottom: 24px;
}
.hud-undead i.dead {
	background: red;
}

.hud-name {
	top: 24px;
	font-family: monospace;
	text-transform: uppercase;
    color: white;
}